ServicesTesting/r-u-on/trunk/waterwebservices/WaterWebServicesAgent/Web References/wof_1_1/cuahsi_1_1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.cuahsi.org/his/1.1/ws/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://www.cuahsi.org/waterML/1.1/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.cuahsi.org/his/1.1/ws/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;div&gt;&lt;strong&gt;Developmental service. This service is internal CUAHSI use, and evaluation.&lt;/strong&gt;&lt;/div&gt;</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.cuahsi.org/his/1.1/ws/">
      <s:import namespace="http://www.cuahsi.org/waterML/1.1/" />
      <s:element name="GetSites">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="site" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="authToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSitesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSitesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSiteInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="site" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSiteInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSiteInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVariableInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="variable" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVariableInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVariableInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSitesObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="site" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="authToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSitesObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:sitesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSiteInfoObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="site" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSiteInfoObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:sitesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVariableInfoObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="variable" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetValues">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="variable" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetValuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetValuesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetValuesObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="variable" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSiteInfoMultpleObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="site" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="authToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSiteInfoMultpleObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:sitesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSitesByBoxObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="west" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="south" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="east" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="north" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="IncludeSeries" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="authToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSitesByBoxObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:sitesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetValuesForASiteObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="site" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetValuesForASiteObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:timeSeriesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVariables">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVariablesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVariablesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVariablesObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVariablesObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:variablesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.cuahsi.org/waterML/1.1/">
      <s:element name="sitesResponse" type="s1:SiteInfoResponseType" />
      <s:complexType name="SiteInfoResponseType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="queryInfo" type="s1:QueryInfoType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="site">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="siteInfo" type="s1:SiteInfoType" />
                <s:element minOccurs="0" maxOccurs="unbounded" name="seriesCatalog" type="s1:seriesCatalogType" />
                <s:element minOccurs="0" maxOccurs="unbounded" name="extension" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="QueryInfoType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="creationTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="queryURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="criteria">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="locationParam" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="variableParam" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="timeParam">
                  <s:complexType>
                    <s:sequence>
                      <s:element minOccurs="0" maxOccurs="1" name="beginDateTime" type="s:string" />
                      <s:element minOccurs="0" maxOccurs="1" name="endDateTime" type="s:string" />
                    </s:sequence>
                  </s:complexType>
                </s:element>
                <s:element minOccurs="0" maxOccurs="unbounded" name="parameter">
                  <s:complexType>
                    <s:attribute name="name" type="s:token" />
                    <s:attribute name="value" type="s:string" />
                  </s:complexType>
                </s:element>
              </s:sequence>
              <s:attribute name="MethodCalled" type="s:normalizedString" />
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="unbounded" name="note" type="s1:NoteType" />
          <s:element minOccurs="0" maxOccurs="1" name="extension" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NoteType">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute name="type" type="s:token" />
            <s:attribute name="href" type="s:string" />
            <s:attribute name="title" type="s:string" />
            <s:attribute name="show" type="s:string" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:complexType name="SiteInfoType">
        <s:complexContent mixed="false">
          <s:extension base="s1:SourceInfoType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="siteName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="siteCode">
                <s:complexType>
                  <s:simpleContent>
                    <s:extension base="s:token">
                      <s:attribute name="default" type="s:boolean" />
                      <s:attribute name="network" type="s:token" />
                      <s:attribute name="siteID" type="s:int" />
                      <s:attribute name="agencyCode" type="s:normalizedString" />
                      <s:attribute name="agencyName" type="s:normalizedString" />
                    </s:extension>
                  </s:simpleContent>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="timeZoneInfo">
                <s:complexType>
                  <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="defaultTimeZone">
                      <s:complexType>
                        <s:complexContent mixed="false">
                          <s:extension base="s1:TimeZoneType" />
                        </s:complexContent>
                      </s:complexType>
                    </s:element>
                    <s:element minOccurs="0" maxOccurs="1" name="daylightSavingsTimeZone">
                      <s:complexType>
                        <s:complexContent mixed="false">
                          <s:extension base="s1:TimeZoneType" />
                        </s:complexContent>
                      </s:complexType>
                    </s:element>
                  </s:sequence>
                  <s:attribute name="siteUsesDaylightSavingsTime" type="s:boolean" />
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="geoLocation">
                <s:complexType>
                  <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="geogLocation" type="s1:GeogLocationType" />
                    <s:element minOccurs="0" maxOccurs="unbounded" name="localSiteXY">
                      <s:complexType>
                        <s:sequence>
                          <s:element minOccurs="1" maxOccurs="1" name="X" type="s:double" />
                          <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:double" />
                          <s:element minOccurs="0" maxOccurs="1" name="Z" type="s:double" />
                          <s:element minOccurs="0" maxOccurs="unbounded" name="note" type="s1:NoteType" />
                        </s:sequence>
                        <s:attribute name="projectionInformation" type="s:string" />
                      </s:complexType>
                    </s:element>
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="elevation_m" type="s:double" />
              <s:element minOccurs="0" maxOccurs="1" name="verticalDatum" type="s:string" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="note" type="s1:NoteType" />
              <s:element minOccurs="0" maxOccurs="1" name="extension" />
              <s:element minOccurs="0" maxOccurs="1" name="altname" type="s:string" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="siteType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="siteProperty" type="s1:PropertyType" />
            </s:sequence>
            <s:attribute form="qualified" name="oid" type="s:normalizedString" />
            <s:attribute form="qualified" name="metadataTime" type="s:dateTime" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SourceInfoType" />
      <s:complexType name="DataSetInfoType">
        <s:complexContent mixed="false">
          <s:extension base="s1:SourceInfoType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="dataSetIdentifier" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="timeZoneInfo">
                <s:complexType>
                  <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="defaultTimeZone">
                      <s:complexType>
                        <s:complexContent mixed="false">
                          <s:extension base="s1:TimeZoneType" />
                        </s:complexContent>
                      </s:complexType>
                    </s:element>
                    <s:element minOccurs="0" maxOccurs="1" name="daylightSavingsTimeZone">
                      <s:complexType>
                        <s:complexContent mixed="false">
                          <s:extension base="s1:TimeZoneType" />
                        </s:complexContent>
                      </s:complexType>
                    </s:element>
                  </s:sequence>
                  <s:attribute name="siteUsesDaylightSavingsTime" type="s:boolean" />
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="dataSetDescription" type="s:string" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="note" type="s1:NoteType" />
              <s:element minOccurs="0" maxOccurs="1" name="dataSetLocation" type="s1:GeogLocationType" />
              <s:element minOccurs="0" maxOccurs="1" name="extension" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="dataSetProperty" type="s1:PropertyType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TimeZoneType">
        <s:attribute name="zoneOffset" type="s:normalizedString" />
        <s:attribute name="zoneAbbreviation" type="s:token" />
      </s:complexType>
      <s:complexType name="GeogLocationType" abstract="true">
        <s:attribute default="EPSG:4326" name="srs" type="s:string" />
      </s:complexType>
      <s:complexType name="latLonLineString">
        <s:complexContent mixed="false">
          <s:extension base="s1:GeogLocationType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="coordLatLong" type="s1:CoordType" />
            </s:sequence>
            <s:attribute name="zDirection" type="s:string" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CoordType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Z" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LatLonPointType">
        <s:complexContent mixed="false">
          <s:extension base="s1:GeogLocationType">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="LatLonBoxType">
        <s:complexContent mixed="false">
          <s:extension base="s1:GeogLocationType">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="south" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="west" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="north" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="east" type="s:double" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PropertyType">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute name="type" type="s:token" />
            <s:attribute name="name" type="s:normalizedString" />
            <s:attribute name="uri" type="s:anyURI" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:complexType name="seriesCatalogType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="note" type="s1:NoteType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="series">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="dataType" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="variable" type="s1:VariableInfoType" />
                <s:element minOccurs="0" maxOccurs="1" name="valueCount">
                  <s:complexType>
                    <s:simpleContent>
                      <s:extension base="s:int">
                        <s:attribute name="countIsEstimated" type="s:boolean" />
                      </s:extension>
                    </s:simpleContent>
                  </s:complexType>
                </s:element>
                <s:element minOccurs="0" maxOccurs="1" name="variableTimeInterval" type="s1:TimePeriodType" />
                <s:element minOccurs="0" maxOccurs="1" name="valueType" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="generalCategory" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="sampleMedium" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="method" type="s1:MethodType" />
                <s:element minOccurs="0" maxOccurs="1" name="source" type="s1:SourceType" />
                <s:element minOccurs="0" maxOccurs="1" name="qualityControlLevel" type="s1:QualityControlLevelType" />
                <s:element minOccurs="0" maxOccurs="unbounded" name="seriesProperty" type="s1:PropertyType" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="unbounded" name="seriesCatalogProperty" type="s1:PropertyType" />
          <s:element minOccurs="0" maxOccurs="1" name="extension" />
        </s:sequence>
        <s:attribute name="menuGroupName" type="s:normalizedString" />
        <s:attribute name="serviceWsdl" type="s:anyURI" />
      </s:complexType>
      <s:complexType name="VariableInfoType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="variableCode">
            <s:complexType>
              <s:simpleContent>
                <s:extension base="s:token">
                  <s:attribute name="network" type="s:token" />
                  <s:attribute name="vocabulary" type="s:token" />
                  <s:attribute name="default" type="s:boolean" />
                  <s:attribute name="variableID" type="s:int" />
                </s:extension>
              </s:simpleContent>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="variableName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="variableDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valueType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dataType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="generalCategory" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sampleMedium" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="unit" type="s1:UnitsType" />
          <s:element minOccurs="0" maxOccurs="1" name="options" type="s1:ArrayOfOption" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="note" type="s1:NoteType" />
          <s:element minOccurs="0" maxOccurs="1" name="related">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="parentCode">
                  <s:complexType>
                    <s:simpleContent>
                      <s:extension base="s:string">
                        <s:attribute name="network" type="s:token" />
                        <s:attribute name="vocabulary" type="s:token" />
                        <s:attribute name="default" type="s:boolean" />
                      </s:extension>
                    </s:simpleContent>
                  </s:complexType>
                </s:element>
                <s:element minOccurs="0" maxOccurs="unbounded" name="relatedCode">
                  <s:complexType>
                    <s:simpleContent>
                      <s:extension base="s:string">
                        <s:attribute name="network" type="s:token" />
                        <s:attribute name="vocabulary" type="s:token" />
                        <s:attribute name="default" type="s:boolean" />
                      </s:extension>
                    </s:simpleContent>
                  </s:complexType>
                </s:element>
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="extension" />
          <s:element minOccurs="0" maxOccurs="1" name="noDataValue" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="timeScale" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="unit" type="s1:UnitsType" />
                <s:element minOccurs="0" maxOccurs="1" name="timeSpacing" type="s:float" />
                <s:element minOccurs="0" maxOccurs="1" name="timeSupport" type="s:float" />
              </s:sequence>
              <s:attribute default="false" name="isRegular" type="s:boolean" />
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="speciation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="categories" type="s1:ArrayOfVariableInfoTypeCategory" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="variableProperty" type="s1:PropertyType" />
        </s:sequence>
        <s:attribute form="qualified" name="oid" type="s:normalizedString" />
        <s:attribute form="qualified" name="metadataTime" type="s:dateTime" />
      </s:complexType>
      <s:complexType name="UnitsType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="unitName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="unitDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="unitType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="unitAbbreviation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="unitCode" type="s:token" />
        </s:sequence>
        <s:attribute name="unitID" type="s:int" />
      </s:complexType>
      <s:complexType name="ArrayOfOption">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="option">
            <s:complexType>
              <s:simpleContent>
                <s:extension base="s:string">
                  <s:attribute name="name" type="s:normalizedString" />
                  <s:attribute name="optionID" type="s:integer" />
                  <s:attribute name="optionCode" type="s:token" />
                </s:extension>
              </s:simpleContent>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfVariableInfoTypeCategory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="category">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="dataValue" type="s:decimal" />
                <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
              </s:sequence>
              <s:attribute name="categoryID" type="s:int" />
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="TimePeriodType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="beginDateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="endDateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="beginDateTimeUTC" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="endDateTimeUTC" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TimeIntervalType">
        <s:complexContent mixed="false">
          <s:extension base="s1:TimePeriodType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TimeSingleType">
        <s:complexContent mixed="false">
          <s:extension base="s1:TimePeriodType">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="timeSingle" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TimePeriodRealTimeType">
        <s:complexContent mixed="false">
          <s:extension base="s1:TimePeriodType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="realTimeDataPeriod" type="s:duration" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="MethodType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="methodCode" type="s:token" />
          <s:element minOccurs="0" maxOccurs="1" name="methodDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="methodLink" type="s:string" />
        </s:sequence>
        <s:attribute name="methodID" type="s:int" />
      </s:complexType>
      <s:complexType name="SourceType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sourceCode" type="s:token" />
          <s:element minOccurs="0" maxOccurs="1" name="organization" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sourceDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="metadata" type="s1:MetaDataType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="contactInformation" type="s1:ContactInformationType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="sourceLink" type="s:anyURI" />
          <s:element minOccurs="0" maxOccurs="1" name="citation" type="s:string" />
        </s:sequence>
        <s:attribute name="sourceID" type="s:int" />
      </s:complexType>
      <s:complexType name="MetaDataType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="topicCategory" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="abstract" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="profileVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="metadataLink" type="s:anyURI" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ContactInformationType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="contactName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="typeOfContact" type="s:normalizedString" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="email" type="s:normalizedString" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="address" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="QualityControlLevelType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="qualityControlLevelCode" type="s:token" />
          <s:element minOccurs="0" maxOccurs="1" name="definition" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="explanation" type="s:string" />
        </s:sequence>
        <s:attribute name="qualityControlLevelID" type="s:int" />
      </s:complexType>
      <s:complexType name="VariablesResponseType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="queryInfo" type="s1:QueryInfoType" />
          <s:element minOccurs="0" maxOccurs="1" name="variables" type="s1:ArrayOfVariableInfoType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfVariableInfoType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="variable" type="s1:VariableInfoType" />
        </s:sequence>
      </s:complexType>
      <s:element name="VariablesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="variablesResponse" type="s1:VariablesResponseType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TimeSeriesResponseType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="queryInfo" type="s1:QueryInfoType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="timeSeries" type="s1:TimeSeriesType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TimeSeriesType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sourceInfo" type="s1:SourceInfoType" />
          <s:element minOccurs="0" maxOccurs="1" name="variable" type="s1:VariableInfoType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="values" type="s1:TsValuesSingleVariableType" />
        </s:sequence>
        <s:attribute name="name" type="s:normalizedString" />
      </s:complexType>
      <s:complexType name="TsValuesSingleVariableType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="value" type="s1:ValueSingleVariable" />
          <s:element minOccurs="0" maxOccurs="1" name="units" type="s1:UnitsType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="qualifier" type="s1:QualifierType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="qualityControlLevel" type="s1:QualityControlLevelType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="method" type="s1:MethodType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="source" type="s1:SourceType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="offset" type="s1:OffsetType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="sample" type="s1:SampleType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="censorCode" type="s1:CensorCodeType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ValueSingleVariable">
        <s:simpleContent>
          <s:extension base="s:decimal">
            <s:attribute name="qualifiers" type="s:NMTOKENS" />
            <s:attribute name="censorCode" type="s:string" />
            <s:attribute name="dateTime" type="s:dateTime" use="required" />
            <s:attribute name="timeOffset" type="s:normalizedString" />
            <s:attribute name="dateTimeUTC" type="s:dateTime" />
            <s:attribute name="methodID" type="s:nonNegativeInteger" />
            <s:attribute name="sourceID" type="s:nonNegativeInteger" />
            <s:attribute name="accuracyStdDev" type="s:double" />
            <s:attribute name="sampleID" type="s:nonNegativeInteger" />
            <s:attribute name="methodCode" type="s:token" />
            <s:attribute name="sourceCode" type="s:token" />
            <s:attribute name="labSampleCode" type="s:token" />
            <s:attribute name="offsetValue" type="s:double" />
            <s:attribute name="offsetTypeID" type="s:nonNegativeInteger" />
            <s:attribute name="offsetTypeCode" type="s:token" />
            <s:attribute name="codedVocabulary" type="s:boolean" />
            <s:attribute name="codedVocabularyTerm" type="s:normalizedString" />
            <s:attribute name="qualityControlLevelCode" type="s:token" />
            <s:attribute form="qualified" name="metadataTime" type="s:dateTime" />
            <s:attribute form="qualified" name="oid" type="s:normalizedString" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:complexType name="QualifierType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="qualifierCode" type="s:token" />
          <s:element minOccurs="0" maxOccurs="1" name="qualifierDescription" type="s:string" />
        </s:sequence>
        <s:attribute name="qualifierID" type="s:int" />
        <s:attribute form="qualified" name="network" type="s:NMTOKEN" />
        <s:attribute form="qualified" name="vocabulary" type="s:NMTOKEN" />
        <s:attribute form="qualified" name="default" type="s:boolean" />
      </s:complexType>
      <s:complexType name="OffsetType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="offsetTypeCode" type="s:token" />
          <s:element minOccurs="0" maxOccurs="1" name="offsetValue" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="offsetDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="unit" type="s1:UnitsType" />
          <s:element minOccurs="1" maxOccurs="1" name="offsetIsVertical" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="offsetAzimuthDegrees" type="s:int" />
        </s:sequence>
        <s:attribute name="offsetTypeID" type="s:int" />
      </s:complexType>
      <s:complexType name="SampleType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="labSampleCode" type="s:normalizedString" />
          <s:element minOccurs="0" maxOccurs="1" name="sampleType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="labMethod" type="s1:LabMethodType" />
        </s:sequence>
        <s:attribute name="sampleID" type="s:int" />
      </s:complexType>
      <s:complexType name="LabMethodType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="labCode" type="s:token" />
          <s:element minOccurs="0" maxOccurs="1" name="labName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="labOrganization" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="labMethodName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="labMethodDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="labMethodLink" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="labSourceDetails" type="s1:SourceType" />
        </s:sequence>
        <s:attribute name="labMethodID" type="s:int" />
      </s:complexType>
      <s:complexType name="CensorCodeType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="censorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="censorCodeDescription" type="s:string" />
        </s:sequence>
        <s:attribute name="censorCodeID" type="s:int" />
      </s:complexType>
      <s:element name="TimeSeriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="timeSeriesResponse" type="s1:TimeSeriesResponseType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="timeSeriesResponse" type="s1:TimeSeriesResponseType" />
      <s:element name="variablesResponse" type="s1:VariablesResponseType" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSitesSoapIn">
    <wsdl:part name="parameters" element="tns:GetSites" />
  </wsdl:message>
  <wsdl:message name="GetSitesSoapOut">
    <wsdl:part name="parameters" element="tns:GetSitesResponse" />
  </wsdl:message>
  <wsdl:message name="GetSiteInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetSiteInfo" />
  </wsdl:message>
  <wsdl:message name="GetSiteInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetSiteInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetVariableInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetVariableInfo" />
  </wsdl:message>
  <wsdl:message name="GetVariableInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetVariableInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetSitesObjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetSitesObject" />
  </wsdl:message>
  <wsdl:message name="GetSitesObjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetSitesObjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetSiteInfoObjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetSiteInfoObject" />
  </wsdl:message>
  <wsdl:message name="GetSiteInfoObjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetSiteInfoObjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetVariableInfoObjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetVariableInfoObject" />
  </wsdl:message>
  <wsdl:message name="GetVariableInfoObjectSoapOut">
    <wsdl:part name="parameters" element="s1:VariablesResponse" />
  </wsdl:message>
  <wsdl:message name="GetValuesSoapIn">
    <wsdl:part name="parameters" element="tns:GetValues" />
  </wsdl:message>
  <wsdl:message name="GetValuesSoapOut">
    <wsdl:part name="parameters" element="tns:GetValuesResponse" />
  </wsdl:message>
  <wsdl:message name="GetValuesObjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetValuesObject" />
  </wsdl:message>
  <wsdl:message name="GetValuesObjectSoapOut">
    <wsdl:part name="parameters" element="s1:TimeSeriesResponse" />
  </wsdl:message>
  <wsdl:message name="GetSiteInfoMultpleObjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetSiteInfoMultpleObject" />
  </wsdl:message>
  <wsdl:message name="GetSiteInfoMultpleObjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetSiteInfoMultpleObjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetSitesByBoxObjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetSitesByBoxObject" />
  </wsdl:message>
  <wsdl:message name="GetSitesByBoxObjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetSitesByBoxObjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetValuesForASiteObjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetValuesForASiteObject" />
  </wsdl:message>
  <wsdl:message name="GetValuesForASiteObjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetValuesForASiteObjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetVariablesSoapIn">
    <wsdl:part name="parameters" element="tns:GetVariables" />
  </wsdl:message>
  <wsdl:message name="GetVariablesSoapOut">
    <wsdl:part name="parameters" element="tns:GetVariablesResponse" />
  </wsdl:message>
  <wsdl:message name="GetVariablesObjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetVariablesObject" />
  </wsdl:message>
  <wsdl:message name="GetVariablesObjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetVariablesObjectResponse" />
  </wsdl:message>
  <wsdl:portType name="WaterOneFlow">
    <wsdl:operation name="GetSites">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Given an array of site numbers, this method returns the site metadata for each one. Send the array of site codes in this format: 'NetworkName:SiteCode'</wsdl:documentation>
      <wsdl:input message="tns:GetSitesSoapIn" />
      <wsdl:output message="tns:GetSitesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSiteInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Given a site number, this method returns the site's metadata. Send the site code in this format: 'NetworkName:SiteCode'</wsdl:documentation>
      <wsdl:input message="tns:GetSiteInfoSoapIn" />
      <wsdl:output message="tns:GetSiteInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVariableInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Given a variable code, this method returns the variable's name. Pass in the variable in this format: 'NetworkName:Variable'</wsdl:documentation>
      <wsdl:input message="tns:GetVariableInfoSoapIn" />
      <wsdl:output message="tns:GetVariableInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSitesObject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Given an array of site numbers, this method returns the site metadata for each one. Send the array of site codes in this format: 'NetworkName:SiteCode'</wsdl:documentation>
      <wsdl:input message="tns:GetSitesObjectSoapIn" />
      <wsdl:output message="tns:GetSitesObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSiteInfoObject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Given a site number, this method returns the site's metadata. Send the site code in this format: 'NetworkName:SiteCode'</wsdl:documentation>
      <wsdl:input message="tns:GetSiteInfoObjectSoapIn" />
      <wsdl:output message="tns:GetSiteInfoObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVariableInfoObject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Given a variable code, this method returns the variable's siteName. Pass in the variable in this format: 'NetworkName:Variable'</wsdl:documentation>
      <wsdl:input message="tns:GetVariableInfoObjectSoapIn" />
      <wsdl:output message="tns:GetVariableInfoObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetValues">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Given a site number, a variable, a start date, and an end date, this method returns a time series. Pass in the sitecode and variable in this format: 'NetworkName:SiteCode' and 'NetworkName:Variable'</wsdl:documentation>
      <wsdl:input message="tns:GetValuesSoapIn" />
      <wsdl:output message="tns:GetValuesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetValuesObject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Given a site number, a variable, a start date, and an end date, this method returns a time series. Pass in the sitecode and variable in this format: 'NetworkName:SiteCode' and 'NetworkName:Variable'</wsdl:documentation>
      <wsdl:input message="tns:GetValuesObjectSoapIn" />
      <wsdl:output message="tns:GetValuesObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSiteInfoMultpleObject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Given a site number, this method returns the site's metadata. Send the site code in this format: 'NetworkName:SiteCode'</wsdl:documentation>
      <wsdl:input message="tns:GetSiteInfoMultpleObjectSoapIn" />
      <wsdl:output message="tns:GetSiteInfoMultpleObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSitesByBoxObject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Given a site number, this method returns the site's metadata. Send the site code in this format: 'NetworkName:SiteCode'</wsdl:documentation>
      <wsdl:input message="tns:GetSitesByBoxObjectSoapIn" />
      <wsdl:output message="tns:GetSitesByBoxObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetValuesForASiteObject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Given a site number, this method returns the site's metadata. Send the site code in this format: 'NetworkName:SiteCode'</wsdl:documentation>
      <wsdl:input message="tns:GetValuesForASiteObjectSoapIn" />
      <wsdl:output message="tns:GetValuesForASiteObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVariables">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Given a variable code, this method returns the variable's name. Pass in the variable in this format: 'NetworkName:Variable'</wsdl:documentation>
      <wsdl:input message="tns:GetVariablesSoapIn" />
      <wsdl:output message="tns:GetVariablesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVariablesObject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Given a variable code, this method returns the variable's siteName. Pass in the variable in this format: 'NetworkName:Variable'</wsdl:documentation>
      <wsdl:input message="tns:GetVariablesObjectSoapIn" />
      <wsdl:output message="tns:GetVariablesObjectSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WaterOneFlow" type="tns:WaterOneFlow">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSites">
      <soap:operation soapAction="http://www.cuahsi.org/his/1.1/ws/GetSites" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSiteInfo">
      <soap:operation soapAction="http://www.cuahsi.org/his/1.1/ws/GetSiteInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVariableInfo">
      <soap:operation soapAction="http://www.cuahsi.org/his/1.1/ws/GetVariableInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSitesObject">
      <soap:operation soapAction="http://www.cuahsi.org/his/1.1/ws/GetSitesObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSiteInfoObject">
      <soap:operation soapAction="http://www.cuahsi.org/his/1.1/ws/GetSiteInfoObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVariableInfoObject">
      <soap:operation soapAction="http://www.cuahsi.org/his/1.1/ws/GetVariableInfoObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValues">
      <soap:operation soapAction="http://www.cuahsi.org/his/1.1/ws/GetValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValuesObject">
      <soap:operation soapAction="http://www.cuahsi.org/his/1.1/ws/GetValuesObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSiteInfoMultpleObject">
      <soap:operation soapAction="http://www.cuahsi.org/his/1.1/ws/GetSiteInfoMultpleObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSitesByBoxObject">
      <soap:operation soapAction="http://www.cuahsi.org/his/1.1/ws/GetSitesByBoxObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValuesForASiteObject">
      <soap:operation soapAction="http://www.cuahsi.org/his/1.1/ws/GetValuesForASiteObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVariables">
      <soap:operation soapAction="http://www.cuahsi.org/his/1.1/ws/GetVariables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVariablesObject">
      <soap:operation soapAction="http://www.cuahsi.org/his/1.1/ws/GetVariablesObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WaterOneFlow1" type="tns:WaterOneFlow">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSites">
      <soap12:operation soapAction="http://www.cuahsi.org/his/1.1/ws/GetSites" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSiteInfo">
      <soap12:operation soapAction="http://www.cuahsi.org/his/1.1/ws/GetSiteInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVariableInfo">
      <soap12:operation soapAction="http://www.cuahsi.org/his/1.1/ws/GetVariableInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSitesObject">
      <soap12:operation soapAction="http://www.cuahsi.org/his/1.1/ws/GetSitesObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSiteInfoObject">
      <soap12:operation soapAction="http://www.cuahsi.org/his/1.1/ws/GetSiteInfoObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVariableInfoObject">
      <soap12:operation soapAction="http://www.cuahsi.org/his/1.1/ws/GetVariableInfoObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValues">
      <soap12:operation soapAction="http://www.cuahsi.org/his/1.1/ws/GetValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValuesObject">
      <soap12:operation soapAction="http://www.cuahsi.org/his/1.1/ws/GetValuesObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSiteInfoMultpleObject">
      <soap12:operation soapAction="http://www.cuahsi.org/his/1.1/ws/GetSiteInfoMultpleObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSitesByBoxObject">
      <soap12:operation soapAction="http://www.cuahsi.org/his/1.1/ws/GetSitesByBoxObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValuesForASiteObject">
      <soap12:operation soapAction="http://www.cuahsi.org/his/1.1/ws/GetValuesForASiteObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVariables">
      <soap12:operation soapAction="http://www.cuahsi.org/his/1.1/ws/GetVariables" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVariablesObject">
      <soap12:operation soapAction="http://www.cuahsi.org/his/1.1/ws/GetVariablesObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WaterOneFlow">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;div&gt;&lt;strong&gt;Developmental service. This service is internal CUAHSI use, and evaluation.&lt;/strong&gt;&lt;/div&gt;</wsdl:documentation>
    <wsdl:port name="WaterOneFlow" binding="tns:WaterOneFlow">
      <soap:address location="http://hydro10.sdsc.edu/LBRSDSC/cuahsi_1_1.asmx" />
    </wsdl:port>
    <wsdl:port name="WaterOneFlow1" binding="tns:WaterOneFlow1">
      <soap12:address location="http://hydro10.sdsc.edu/LBRSDSC/cuahsi_1_1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>