ServicesTesting/dotnet/WsdlValidation/trunk/TestCuahsiHisWaterOneFlowWebService/Web References/WaterOneFlowWebService/DailyValues.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.cuahsi.org/his/1.0/ws/" xmlns:s1="http://www.cuahsi.org/waterML/1.0/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.cuahsi.org/his/1.0/ws/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.cuahsi.org/his/1.0/ws/">
      <s:import namespace="http://www.cuahsi.org/waterML/1.0/" />
      <s:element name="GetValues">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="variable" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetValuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetValuesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetValuesObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="variable" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetValuesObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:timeSeriesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSitesXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="site" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="authToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSitesXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSitesXmlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSiteInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="site" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSiteInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSiteInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVariableInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="variable" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVariableInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVariableInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSites">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="site" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="authToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSitesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:sitesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSiteInfoObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="site" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSiteInfoObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:sitesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVariableInfoObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="variable" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVariableInfoObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:variablesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.cuahsi.org/waterML/1.0/">
      <s:element name="timeSeriesResponse" type="s1:TimeSeriesResponseType" />
      <s:element name="sitesResponse" type="s1:SiteInfoResponseType" />
      <s:element name="variablesResponse" type="s1:VariablesResponseType" />
      <s:annotation>
        <s:documentation> 
Changes: 
2006-07-10 valentine 
            removed choice. Replaced with Types
            defined TimePeriodType
                TimeIntervalType
                TimeSingleType
            added GeogLocationType to hold the geometry
                redefined LatLongPoint as a type
                defined LatLongBox to hold
                 defined simpleTypes Latitude and Longitude
            added DataSetLocation Element (type GeogLocationType) to dataset info
            removed xlink namespace. Just used the xlink concept (problems getting it to compile with xlink schema)
2006-08-30 valentine
    MANY CHANGES to:
         sync with the Observations Database terminolog
         simplify. Removed many unneeded types. (initial version was Type happy)
         types mostly used only when needed (Geometry, SourceInfo, TimeSeries, Notes, Enumerations).
       *** Element Case Standardize  ****
           All types are PascalCase
           All CUAHSI elements and attributes are camelCase
       * All root response elements are now elements, and not types
          ** SitesResponse
          ** TimeSeriesResponse (not timeSeriesType)
          ** VariablesResponse
       * extension elements added.
           ** These are extension points for groups like
              the USGS that wish to include more information than the normal community uses.
       * enumerations added
          * unitType
          * censorCode  (characters used because symbols make for unmaintainable source code)
             * lt  - less than
             * gt  - greater than
             * nc  - no code
       * variable types consolidated
       * units element added
       * consistent siteID/variableID pattern (both include a XXXCode)
       * Remove many types
          ** too many to list.
       * values == TsValuesType renamed from TsValuesSingleVariableType
          ** split values element out to type  ValueSingleVar (c# change tsValuesTypeValueType to ValueSingleVar).
          ** qualifier elements can be added after the final value element in the Values element.
          *** we don't know the full list of included qualifiers until we get done with the values.
          *** at present, qualifiers attribute in the value element is an aggregated field.
          element block looks like:
          = values
          == value qualifers=&amp;quot;A&amp;quot;
          == value qualifers=&amp;quot;Ae&amp;quot;
          == qualifier qualifierCode=&amp;quot;A&amp;quot;      &amp;quot;Approved&amp;quot;
          == qualifier qualifierCode=&amp;quot;e&amp;quot;      &amp;quot;Estimated. This value has been estimated.&amp;quot;
2006-09-08
   variableID renamed variableCode
   siteID renamed siteCode
      siteID and variableID attributes added, xxCode removed
   siteCode name moved into siteInfo

2006-09-15
   variable/name to variable/variableName
   variablePeriod to variablePeriodOfObservation

2006-09-17
   added QualityControlLevelEnum
   added attribute qualityControlLevel to valueAttribute group. (affects ValueSingleVariable)
   added qualityControlLevel element, and element to the TSValuesSingleVariableType
   namespace changed to http://www.cuahsi.org/waterML/1.0/
   return to types for top level elements, without this they get named getValuesResponse
   added note to siteInfoElement. We need to put the URL or Retireved from DB not in this block.
   added TimePeriodRealTime. Need to represent real time data.
2006-0920
   variablePeriodofRecorr to seriesCatalog
   variablePeriodOfObservation to series
   variableObservationCount to valueCount (to match the OD)
   added enumerations from the OD
      valueTypeEnum
      generalCategoryEnum
      sampleMediumEnum
      dataTypeEnum
2006-09-24
   queryInfo/criteria/timeParam is now a sequence, since a start or end time can be null
   The community wants it to be easy, and VB and other .net have problems with some values:
      converted xsd:decimal to xsd:double. decimal is not well handled by VB
      converted tsValuesSingleVaribaleType/count from xsd:nonNegativeInteger to xsd:int.
2006-09-28
   API signature has been changed to strings.
   queryInfo/timeInterval/... changed to strings
2007-07-09
   ODM seriesCatalog table added columns. Columns now added
   DataValue element was missing: DataType(eg statistic), Method, Source, and QualityControlLevel.
2007-08-28
  added to values method[](methodType), source[](SourceType)
  added &amp;quot;Unknown&amp;quot; to many enumerations.
  contactInformation in sourceType changed to unbounded
2007-08-29
  DT/DM believes that including an offsetDescription on every element is verbose
  offsetTypeID attribute added to offsetAttr
  offsetType Type added, Designed to be a bit more extensible, and handle
2007-08-30
  restored attributes that had the offset information on the values
  offsetAttr restored attr
    offsetUnitsAbbreviation
    offsetUnitsCode
    offsetDescription
2007-11-14
   Many services use agency (aka EPA, and USGS)
     added attributes agencyCode and AgencyName to siteCode.
 2007-11-29
    SiteInfo/TimezoneInfo min occurs 0 max 1
    Series/QualityControlLevel min occurs 0 max 1
   
</s:documentation>
      </s:annotation>
      <s:complexType name="SiteInfoType">
        <s:annotation>
          <s:documentation>A sampling station is any place where data are collected.</s:documentation>
        </s:annotation>
        <s:complexContent mixed="false">
          <s:extension base="s1:SourceInfoType">
            <s:sequence>
              <s:element name="siteName" type="s:string" />
              <s:element maxOccurs="unbounded" name="siteCode">
                <s:annotation>
                  <s:documentation>A siteID is an identifier that this site is referred to as.
					There may be multiple siteID elements. Only one should be labeled as the defaultID (set attribute defaultID=true)
					Multiple siteID elements are allowed because site identifiers may change, 
					and different observation networks may refer to the same site with different identifiers.</s:documentation>
                </s:annotation>
                <s:complexType>
                  <s:simpleContent>
                    <s:extension base="s:string">
                      <s:attribute name="defaultId" type="s:boolean">
                        <s:annotation>
                          <s:documentation>
								True if this is the main identifier that this service uses to access this site.
				default value is false.
							</s:documentation>
                        </s:annotation>
                      </s:attribute>
                      <s:attribute name="network" type="s:normalizedString" use="required">
                        <s:annotation>
                          <s:documentation>The name of the observation network that this site identification is use for.</s:documentation>
                        </s:annotation>
                      </s:attribute>
                      <s:attribute name="siteID" type="s:normalizedString">
                        <s:annotation>
                          <s:documentation>
								An identifier of the site, the type of identifier must be specified.
							</s:documentation>
                        </s:annotation>
                      </s:attribute>
                      <s:attribute name="agencyCode" type="s:normalizedString" />
                      <s:attribute name="agencyName" type="s:normalizedString" />
                    </s:extension>
                  </s:simpleContent>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" ref="s1:timeZoneInfo">
                <s:annotation>
                  <s:documentation>the default time zone for this site (+00:00) and if this site shifts to daylight savings time (attribute: usesDaylightSavingsTime)</s:documentation>
                </s:annotation>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="geoLocation">
                <s:complexType>
                  <s:sequence>
                    <s:element name="geogLocation" type="s1:GeogLocationType" />
                    <s:element minOccurs="0" maxOccurs="unbounded" name="localSiteXY">
                      <s:complexType>
                        <s:sequence>
                          <s:element name="X" type="s:double" />
                          <s:element name="Y" type="s:double" />
                          <s:element minOccurs="0" maxOccurs="1" name="Z" type="s:double" />
                          <s:element minOccurs="0" maxOccurs="unbounded" name="note" type="s1:NoteType" />
                        </s:sequence>
                        <s:attribute name="projectionInformation" type="s:string" />
                      </s:complexType>
                    </s:element>
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="elevation_m" type="s:double" />
              <s:element minOccurs="0" maxOccurs="1" name="verticalDatum" type="s:string" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="note" type="s1:NoteType" />
              <s:element ref="s1:extension" />
              <s:element name="altname" type="s:string" />
            </s:sequence>
            <s:attributeGroup ref="s1:DbIdentifiers" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="siteInfo" type="s1:SiteInfoType" />
      <s:complexType name="TsValuesSingleVariableType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="unbounded" name="value" type="s1:ValueSingleVariable">
            <s:annotation>
              <s:documentation>text</s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="unbounded" ref="s1:qualifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s1:qualityControlLevel" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="method" type="s1:MethodType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="source" type="s1:SourceType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="offset" type="s1:OffsetType" />
        </s:sequence>
        <s:attribute name="timeZoneShiftApplied" type="s:boolean" use="optional">
          <s:annotation>
            <s:documentation>True is a webservice has transformed the time zone from the original data.</s:documentation>
          </s:annotation>
        </s:attribute>
        <s:attributeGroup ref="s1:unitsAttr">
          <s:annotation>
            <s:documentation>the measurment units of the value elements in this values element
          </s:documentation>
          </s:annotation>
        </s:attributeGroup>
        <s:attribute name="count" type="s:nonNegativeInteger">
          <s:annotation>
            <s:documentation />
          </s:annotation>
        </s:attribute>
        <s:attribute default="false" name="unitsAreConverted" type="s:boolean">
          <s:annotation>
            <s:documentation>True is a webservice has transformed the data from the original units.</s:documentation>
          </s:annotation>
        </s:attribute>
      </s:complexType>
      <s:complexType name="VariableInfoType">
        <s:sequence>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="unbounded" ref="s1:variableCode">
              <s:annotation>
                <s:documentation />
              </s:annotation>
            </s:element>
            <s:element minOccurs="0" name="variableName" type="s:string">
              <s:annotation>
                <s:documentation>A brief name of the variable that could be shown in a menu</s:documentation>
              </s:annotation>
            </s:element>
            <s:element minOccurs="0" name="variableDescription" type="s:string">
              <s:annotation>
                <s:documentation>A detailed descriptn of the variable. May include processing information and other details.</s:documentation>
              </s:annotation>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="valueType" type="s1:valueTypeEnum" />
            <s:element minOccurs="0" name="dataType" type="s1:dataTypeEnum" />
            <s:element minOccurs="0" name="generalCategory" type="s1:generalCategoryEnum" />
            <s:element minOccurs="0" maxOccurs="1" name="sampleMedium" type="s1:SampleMediumEnum" />
            <s:element minOccurs="0" ref="s1:units">
              <s:annotation>
                <s:documentation>The units of the measurement.</s:documentation>
              </s:annotation>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:options">
              <s:annotation>
                <s:documentation>A list of options. Options are key-value pair elements that control how a variable maght be utilized in a serviced.
            Examples are in the MODIS web service. Information is aggreated over land or ocean or both. The plotarea option can include: plotarea=land, plotarea=land, plotarea=landocean</s:documentation>
              </s:annotation>
            </s:element>
            <s:element minOccurs="0" maxOccurs="unbounded" name="note" type="s1:NoteType">
              <s:annotation>
                <s:documentation />
              </s:annotation>
            </s:element>
            <s:element minOccurs="0" name="related">
              <s:complexType>
                <s:sequence maxOccurs="unbounded">
                  <s:element name="parentID">
                    <s:complexType>
                      <s:simpleContent>
                        <s:extension base="s:string">
                          <s:attributeGroup ref="s1:VocabularyAttributes" />
                        </s:extension>
                      </s:simpleContent>
                    </s:complexType>
                  </s:element>
                  <s:element name="relatedID">
                    <s:complexType>
                      <s:simpleContent>
                        <s:extension base="s:string">
                          <s:attributeGroup ref="s1:VocabularyAttributes" />
                        </s:extension>
                      </s:simpleContent>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" ref="s1:extension" />
            <s:element minOccurs="0" name="NoDataValue" type="s:string" />
            <s:element minOccurs="0" name="timeSupport" nillable="true">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="unit" type="s1:UnitsType" />
                  <s:element minOccurs="0" maxOccurs="1" name="timeInterval" type="s:int" />
                </s:sequence>
                <s:attribute name="isRegular" type="s:boolean" />
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:sequence>
        <s:attributeGroup ref="s1:DbIdentifiers" />
      </s:complexType>
      <s:complexType name="QueryInfoType">
        <s:annotation>
          <s:documentation />
        </s:annotation>
        <s:sequence>
          <s:element minOccurs="0" name="creationTime" type="s:dateTime">
            <s:annotation>
              <s:documentation />
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" name="queryURL" type="s:string">
            <s:annotation>
              <s:documentation />
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" name="querySQL" type="s:string">
            <s:annotation>
              <s:documentation />
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" name="criteria">
            <s:complexType>
              <s:sequence minOccurs="0">
                <s:element minOccurs="0" name="locationParam" type="s:string">
                  <s:annotation>
                    <s:documentation />
                  </s:annotation>
                </s:element>
                <s:element minOccurs="0" name="variableParam" type="s:string">
                  <s:annotation>
                    <s:documentation />
                  </s:annotation>
                </s:element>
                <s:element minOccurs="0" name="timeParam">
                  <s:annotation>
                    <s:documentation />
                  </s:annotation>
                  <s:complexType>
                    <s:sequence>
                      <s:element minOccurs="0" maxOccurs="1" name="beginDateTime" type="s:string" />
                      <s:element minOccurs="0" maxOccurs="1" name="endDateTime" type="s:string" />
                    </s:sequence>
                  </s:complexType>
                </s:element>
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element maxOccurs="unbounded" name="note" type="s1:NoteType" />
          <s:element ref="s1:extension" />
        </s:sequence>
      </s:complexType>
      <s:element name="variables">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="variable" type="s1:VariableInfoType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:attributeGroup name="VocabularyAttributes">
        <s:attribute name="network" type="s:string">
          <s:annotation>
            <s:documentation />
          </s:annotation>
        </s:attribute>
        <s:attribute name="vocabulary" type="s:string">
          <s:annotation>
            <s:documentation />
          </s:annotation>
        </s:attribute>
        <s:attribute name="default" type="s:boolean" />
      </s:attributeGroup>
      <s:attributeGroup name="DbIdentifiers">
        <s:attribute name="oid" type="s:normalizedString" />
        <s:attribute name="metadataDateTime" type="s:dateTime" />
      </s:attributeGroup>
      <s:complexType name="DataSetInfoType">
        <s:complexContent mixed="false">
          <s:extension base="s1:SourceInfoType">
            <s:sequence>
              <s:element name="dataSetIdentifier" type="s:string" />
              <s:element minOccurs="0" ref="s1:timeZoneInfo" />
              <s:element name="dataSetDescription" type="s:string" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="note" type="s1:NoteType" />
              <s:element minOccurs="0" maxOccurs="1" name="dataSetLocation" type="s1:GeogLocationType" />
              <s:element ref="s1:extension" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="datasetInfo" type="s1:DataSetInfoType" />
      <s:element name="timeZoneInfo">
        <s:annotation>
          <s:documentation>the default time zone for this site (+00:00) and if this site shifts to daylight savings time (attribute: usesDaylightSavingsTime)</s:documentation>
        </s:annotation>
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="defaultTimeZone">
              <s:complexType>
                <s:attributeGroup ref="s1:timeZoneAttr" />
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="daylightSavingsTimeZone">
              <s:complexType>
                <s:attributeGroup ref="s1:timeZoneAttr" />
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:attributeGroup name="ValueAttr">
        <s:attribute name="qualifiers" type="s:string">
          <s:annotation>
            <s:documentation />
          </s:annotation>
        </s:attribute>
        <s:attribute name="censorCode" type="s1:CensorCodeEnum">
          <s:annotation>
            <s:documentation />
          </s:annotation>
        </s:attribute>
        <s:attribute name="dateTime" type="s:dateTime" use="required" />
        <s:attribute name="qualityControlLevel" type="s1:QualityControlLevelEnum" />
        <s:attribute name="methodID" type="s:int" />
        <s:attribute name="sourceID" type="s:int" />
        <s:attribute name="accuracyStdDev" type="s:double" />
        <s:attribute name="codedVocabulary" type="s:boolean" />
        <s:attribute name="codedVocabularyTerm" type="s:string" />
        <s:attribute name="sampleID" type="s:int" />
      </s:attributeGroup>
      <s:attributeGroup name="timeZoneAttr">
        <s:attribute name="ZoneAbbreviation" type="s:normalizedString" use="optional">
          <s:annotation>
            <s:documentation>the standard abbreviation for this time zone (GMT; EST)</s:documentation>
          </s:annotation>
        </s:attribute>
        <s:attribute name="ZoneOffset" type="s:string" use="required">
          <s:annotation>
            <s:documentation>Hours and minutes offset for this time zone  (+00:00).</s:documentation>
          </s:annotation>
        </s:attribute>
      </s:attributeGroup>
      <s:element name="optionGroup">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="unbounded" ref="s1:option" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DocumentationType" mixed="true">
        <s:attribute name="type" type="s1:DocumentationEnumTypes" />
        <s:attributeGroup ref="s1:XLinkAttr" />
      </s:complexType>
      <s:simpleType name="DocumentationEnumTypes">
        <s:union memberTypes="s:token">
          <s:simpleType>
            <s:restriction base="s:token">
              <s:enumeration value="funding" />
              <s:enumeration value="history" />
              <s:enumeration value="processing_level" />
              <s:enumeration value="rights" />
              <s:enumeration value="summary" />
            </s:restriction>
          </s:simpleType>
        </s:union>
      </s:simpleType>
      <s:attributeGroup name="XLinkAttr">
        <s:attribute name="href" type="s:string" />
        <s:attribute name="title" type="s:string" />
        <s:attribute name="show" type="s:string" />
      </s:attributeGroup>
      <s:element name="options">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" ref="s1:option" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SourceInfoType" />
      <s:complexType name="TimePeriodType">
        <s:sequence />
      </s:complexType>
      <s:complexType name="TimeIntervalType">
        <s:complexContent mixed="false">
          <s:extension base="s1:TimePeriodType">
            <s:sequence>
              <s:element name="beginDateTime" type="s:dateTime" />
              <s:element name="endDateTime" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TimeSingleType">
        <s:complexContent mixed="false">
          <s:extension base="s1:TimePeriodType">
            <s:sequence>
              <s:element name="timeSingle" type="s:dateTime" />
              <s:element name="beginDateTime" type="s:dateTime" />
              <s:element name="endDateTime" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="GeogLocationType">
        <s:sequence />
        <s:attribute default="EPSG:4326" name="srs" type="s:string" use="optional" />
      </s:complexType>
      <s:complexType name="LatLonPointType">
        <s:complexContent mixed="false">
          <s:extension base="s1:GeogLocationType">
            <s:sequence>
              <s:element name="latitude" type="s1:Latitude">
                <s:annotation>
                  <s:documentation>
            The latitude of the site in a decimal degrees as calculated in terms of the given datum.
          </s:documentation>
                </s:annotation>
              </s:element>
              <s:element name="longitude" type="s1:Longitude">
                <s:annotation>
                  <s:documentation>
            The longitude of the site in a decimal degrees as calculated in terms of the given datum.
          </s:documentation>
                </s:annotation>
              </s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="latLonPoint" type="s1:LatLonPointType" />
      <s:complexType name="LatLonBoxType">
        <s:complexContent mixed="false">
          <s:extension base="s1:GeogLocationType">
            <s:sequence>
              <s:element name="south" type="s1:Latitude" />
              <s:element name="west" type="s1:Longitude" />
              <s:element name="north" type="s1:Latitude" />
              <s:element name="east" type="s1:Longitude" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="latLonBox" type="s1:LatLonBoxType" />
      <s:simpleType name="Longitude">
        <s:restriction base="s:double">
          <s:minInclusive value="-180.00" />
          <s:maxInclusive value="180.00" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="Latitude">
        <s:restriction base="s:double">
          <s:minInclusive value="-90.00" />
          <s:maxInclusive value="90.00" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="seriesCatalogType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="note" type="s1:NoteType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="series">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="dataType" type="s1:dataTypeEnum" />
                <s:element name="variable" type="s1:VariableInfoType" />
                <s:element name="valueCount">
                  <s:complexType>
                    <s:simpleContent>
                      <s:extension base="s:int">
                        <s:attribute name="countIsEstimated" type="s:boolean" />
                      </s:extension>
                    </s:simpleContent>
                  </s:complexType>
                </s:element>
                <s:element name="variableTimeInterval" type="s1:TimePeriodType" />
                <s:element minOccurs="0" maxOccurs="1" name="valueType" type="s1:valueTypeEnum" />
                <s:element minOccurs="0" maxOccurs="1" name="generalCategory" type="s1:generalCategoryEnum" />
                <s:element minOccurs="0" maxOccurs="1" name="sampleMedium" type="s1:SampleMediumEnum" />
                <s:element minOccurs="0" maxOccurs="1" name="Method" type="s1:MethodType" />
                <s:element minOccurs="0" maxOccurs="1" name="Source" type="s1:SourceType" />
                <s:element minOccurs="0" maxOccurs="1" name="QualityControlLevel" type="s1:QualityControlLevelType" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
        <s:attribute name="menuGroupName" type="s:string" />
        <s:attribute name="serviceWsdl" type="s:anyURI" />
      </s:complexType>
      <s:attributeGroup name="offsetAttr">
        <s:attribute name="offsetValue" type="s:double" />
        <s:attribute name="offsetTypeID" type="s:int" />
        <s:attribute name="offsetDescription" type="s:string" />
        <s:attribute name="offsetUnitsAbbreviation" type="s:string" />
        <s:attribute name="offsetUnitsCode" type="s:string" />
      </s:attributeGroup>
      <s:simpleType name="CensorCodeEnum">
        <s:restriction base="s:string">
          <s:enumeration value="lt" />
          <s:enumeration value="gt" />
          <s:enumeration value="nc" />
          <s:enumeration value="nd" />
          <s:enumeration value="pnq" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="QualifiersType">
        <s:sequence>
          <s:element name="qualifier">
            <s:complexType>
              <s:sequence>
                <s:element name="qualifierCode" type="s:token" />
              </s:sequence>
              <s:attribute name="qualifierID" type="s:int" />
              <s:attributeGroup ref="s1:VocabularyAttributes" />
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="TimeSeriesType">
        <s:sequence>
          <s:element name="sourceInfo" type="s1:SourceInfoType" />
          <s:element name="variable" type="s1:VariableInfoType" />
          <s:element name="values" type="s1:TsValuesSingleVariableType" />
        </s:sequence>
        <s:attribute name="name" type="s:string" use="required" />
      </s:complexType>
      <s:complexType name="NoteType">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute name="type" type="s:string" />
            <s:attributeGroup ref="s1:XLinkAttr" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:element name="option">
        <s:complexType>
          <s:simpleContent>
            <s:extension base="s:string">
              <s:attribute name="name" type="s:normalizedString" />
              <s:attribute name="optionID" type="s:integer" />
              <s:attribute name="optionCode" type="s:token" />
            </s:extension>
          </s:simpleContent>
        </s:complexType>
      </s:element>
      <s:element name="variableCode">
        <s:complexType>
          <s:simpleContent>
            <s:extension base="s:token">
              <s:attributeGroup ref="s1:VocabularyAttributes" />
              <s:attribute name="variableID" type="s:integer" />
            </s:extension>
          </s:simpleContent>
        </s:complexType>
      </s:element>
      <s:element name="units">
        <s:complexType>
          <s:simpleContent>
            <s:extension base="s:string">
              <s:attributeGroup ref="s1:unitsAttr" />
            </s:extension>
          </s:simpleContent>
        </s:complexType>
      </s:element>
      <s:attributeGroup name="unitsAttr">
        <s:attribute name="unitsAbbreviation" type="s:normalizedString" />
        <s:attribute name="unitsCode" type="s:token" />
        <s:attribute name="unitsType" type="s1:UnitsTypeEnum" />
      </s:attributeGroup>
      <s:simpleType name="UnitsTypeEnum">
        <s:restriction base="s:string">
          <s:enumeration value="Angle" />
          <s:enumeration value="Area" />
          <s:enumeration value="Dimensionless" />
          <s:enumeration value="Energy" />
          <s:enumeration value="Energy Flux" />
          <s:enumeration value="Flow" />
          <s:enumeration value="Force" />
          <s:enumeration value="Frequency" />
          <s:enumeration value="Length" />
          <s:enumeration value="Light" />
          <s:enumeration value="Mass" />
          <s:enumeration value="Permeability" />
          <s:enumeration value="Power" />
          <s:enumeration value="Pressure/Stress" />
          <s:enumeration value="Resolution" />
          <s:enumeration value="Scale" />
          <s:enumeration value="Temperature" />
          <s:enumeration value="Time" />
          <s:enumeration value="Velocity" />
          <s:enumeration value="Volume" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ValueSingleVariable">
        <s:simpleContent>
          <s:extension base="s:decimal">
            <s:attributeGroup ref="s1:ValueAttr" />
            <s:attributeGroup ref="s1:offsetAttr" />
            <s:attributeGroup ref="s1:DbIdentifiers" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:element name="qualifier">
        <s:complexType>
          <s:simpleContent>
            <s:extension base="s:string">
              <s:attribute name="qualifierCode" type="s:token" />
              <s:attribute name="qualifierID" type="s:integer" />
              <s:attributeGroup ref="s1:DbIdentifiers" />
              <s:attributeGroup ref="s1:VocabularyAttributes" />
            </s:extension>
          </s:simpleContent>
        </s:complexType>
      </s:element>
      <s:element name="extension" type="s:anyType" />
      <s:complexType name="VariablesResponseType">
        <s:sequence>
          <s:element name="queryInfo" type="s1:QueryInfoType" />
          <s:element minOccurs="1" ref="s1:variables" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TimeSeriesResponseType">
        <s:sequence>
          <s:element name="queryInfo" type="s1:QueryInfoType" />
          <s:element name="timeSeries" type="s1:TimeSeriesType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SiteInfoResponseType">
        <s:sequence>
          <s:element name="queryInfo" type="s1:QueryInfoType" />
          <s:element minOccurs="0" maxOccurs="unbounded" ref="s1:site" />
        </s:sequence>
      </s:complexType>
      <s:element name="site">
        <s:complexType>
          <s:sequence>
            <s:element name="siteInfo" type="s1:SiteInfoType" />
            <s:element maxOccurs="unbounded" name="seriesCatalog" type="s1:seriesCatalogType" />
            <s:element ref="s1:extension" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="QualityControlLevelEnum">
        <s:restriction base="s:string">
          <s:enumeration value="Raw data" />
          <s:enumeration value="Quality controlled data" />
          <s:enumeration value="Derived products" />
          <s:enumeration value="Interpreted products" />
          <s:enumeration value="Knowledge products" />
          <s:enumeration value="Unknown" />
        </s:restriction>
      </s:simpleType>
      <s:element name="qualityControlLevel">
        <s:complexType>
          <s:sequence>
            <s:element name="qualityControlLevelID" type="s:normalizedString" />
          </s:sequence>
          <s:attribute name="qualityControlLevelCode" type="s:string" />
          <s:attributeGroup ref="s1:DbIdentifiers" />
          <s:attributeGroup ref="s1:VocabularyAttributes" />
        </s:complexType>
      </s:element>
      <s:complexType name="TimePeriodRealTimeType">
        <s:complexContent mixed="false">
          <s:extension base="s1:TimePeriodType">
            <s:sequence>
              <s:element name="realTimeDataPeriod" type="s:duration" />
              <s:element name="beginDateTime" type="s:dateTime" />
              <s:element name="endDateTime" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="SampleMediumEnum">
        <s:restriction base="s:string">
          <s:enumeration value="Surface Water" />
          <s:enumeration value="Ground Water" />
          <s:enumeration value="Sediment" />
          <s:enumeration value="Soil" />
          <s:enumeration value="Air" />
          <s:enumeration value="Tissue" />
          <s:enumeration value="Precipitation" />
          <s:enumeration value="Unknown" />
          <s:enumeration value="Other" />
          <s:enumeration value="Snow" />
          <s:enumeration value="Not Relevant" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="generalCategoryEnum">
        <s:restriction base="s:string">
          <s:enumeration value="Water Quality" />
          <s:enumeration value="Climate" />
          <s:enumeration value="Hydrology" />
          <s:enumeration value="Geology" />
          <s:enumeration value="Biota" />
          <s:enumeration value="Unknown" />
          <s:enumeration value="Instrumentation" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="dataTypeEnum">
        <s:restriction base="s:string">
          <s:enumeration value="Continuous" />
          <s:enumeration value="Instantaneous" />
          <s:enumeration value="Cumulative" />
          <s:enumeration value="Incremental" />
          <s:enumeration value="Average" />
          <s:enumeration value="Maximum" />
          <s:enumeration value="Minimum" />
          <s:enumeration value="Constant Over Interval" />
          <s:enumeration value="Categorical" />
          <s:enumeration value="Best Easy Systematic Estimator " />
          <s:enumeration value="Unknown" />
          <s:enumeration value="Variance" />
          <s:enumeration value="Median" />
          <s:enumeration value="Mode" />
          <s:enumeration value="Best Easy Systematic Estimator" />
          <s:enumeration value="Standard Deviation" />
          <s:enumeration value="Skewness" />
          <s:enumeration value="Equivalent Mean" />
          <s:enumeration value="Sporadic" />
          <s:enumeration value="Unknown" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="sampleTypeEnum">
        <s:restriction base="s:string">
          <s:enumeration value="FD" />
          <s:enumeration value="FF" />
          <s:enumeration value="FL" />
          <s:enumeration value="LF" />
          <s:enumeration value="GW" />
          <s:enumeration value="PB" />
          <s:enumeration value="PD" />
          <s:enumeration value="PE" />
          <s:enumeration value="PI" />
          <s:enumeration value="PW" />
          <s:enumeration value="RE" />
          <s:enumeration value="SE" />
          <s:enumeration value="SR" />
          <s:enumeration value="SS" />
          <s:enumeration value="SW" />
          <s:enumeration value="TE" />
          <s:enumeration value="TI" />
          <s:enumeration value="TW" />
          <s:enumeration value="VE" />
          <s:enumeration value="VI" />
          <s:enumeration value="VW" />
          <s:enumeration value="Grab" />
          <s:enumeration value="Unknown" />
          <s:enumeration value="No Sample" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="valueTypeEnum">
        <s:restriction base="s:string">
          <s:enumeration value="Field Observation" />
          <s:enumeration value="Sample" />
          <s:enumeration value="Model Simulation Result" />
          <s:enumeration value="Derived Value" />
          <s:enumeration value="Unknown" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="UnitsType">
        <s:sequence>
          <s:element name="UnitName" type="s:string" />
          <s:element name="UnitDescription" type="s:string" />
          <s:element name="UnitType" type="s1:UnitsTypeEnum" />
          <s:element name="UnitAbbreviation" type="s:string" />
        </s:sequence>
        <s:attribute name="UnitID" type="s:int" />
      </s:complexType>
      <s:complexType name="MethodType">
        <s:sequence>
          <s:element name="MethodDescription" type="s:string" />
          <s:element name="MethodLink" type="s:string" />
        </s:sequence>
        <s:attribute name="methodID" type="s:int" />
      </s:complexType>
      <s:complexType name="SampleType">
        <s:sequence>
          <s:element name="labSampleCode" type="s:string" />
          <s:element name="SampleType" type="s1:sampleTypeEnum" />
          <s:element minOccurs="0" name="LabMethod" type="s1:LabMethodType" />
        </s:sequence>
        <s:attribute name="sampleID" type="s:int" />
      </s:complexType>
      <s:complexType name="LabMethodType">
        <s:sequence>
          <s:element minOccurs="0" name="labName" type="s:string" />
          <s:element minOccurs="0" name="labOrganization" type="s:string" />
          <s:element minOccurs="0" name="LabMethodName" type="s:string" />
          <s:element minOccurs="0" name="labMethodDescription" type="s:string" />
          <s:element name="labMethodLink" type="s:string" />
        </s:sequence>
        <s:attribute name="labMethodID" type="s:int" />
      </s:complexType>
      <s:complexType name="SourceType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Organization" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceDescription" type="s:string" />
          <s:element minOccurs="0" name="Metadata" type="s1:MetaDataType" />
          <s:element minOccurs="0" name="ContactInformation" type="s1:ContactInformationType" />
          <s:element minOccurs="0" name="SourceLink" type="s:anyURI" />
        </s:sequence>
        <s:attribute name="sourceID" type="s:int" />
      </s:complexType>
      <s:complexType name="ContactInformationType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ContactName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TypeOfContact" type="s:string" />
          <s:element minOccurs="0" name="Phone" type="s:string" />
          <s:element minOccurs="0" name="Email" type="s:string" />
          <s:element minOccurs="0" name="Address" type="s:anyType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MetaDataType">
        <s:sequence>
          <s:element name="TopicCategory" type="s:string" />
          <s:element name="Title" type="s:string" />
          <s:element name="Abstract" type="s:string" />
          <s:element name="ProfileVersion" type="s:string" />
          <s:element name="MetadataLink" type="s:anyURI" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="QualityControlLevelType">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute name="QualityControlLevelID" type="s:int" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:complexType name="OffsetType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="offsetValue" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="offsetDescription" type="s:string" />
          <s:element ref="s1:units" />
          <s:element minOccurs="0" maxOccurs="1" default="true" name="offsetIsVertical" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="offsetHorizDirectionDegrees" type="s:int" />
        </s:sequence>
        <s:attribute name="offsetTypeID" type="s:int" />
      </s:complexType>
      <s:annotation>
        <s:documentation> 
Changes: 
2006-07-10 valentine 
            removed choice. Replaced with Types
            defined TimePeriodType
                TimeIntervalType
                TimeSingleType
            added GeogLocationType to hold the geometry
                redefined LatLongPoint as a type
                defined LatLongBox to hold
                 defined simpleTypes Latitude and Longitude
            added DataSetLocation Element (type GeogLocationType) to dataset info
            removed xlink namespace. Just used the xlink concept (problems getting it to compile with xlink schema)
2006-08-30 valentine
    MANY CHANGES to:
         sync with the Observations Database terminolog
         simplify. Removed many unneeded types. (initial version was Type happy)
         types mostly used only when needed (Geometry, SourceInfo, TimeSeries, Notes, Enumerations).
       *** Element Case Standardize  ****
           All types are PascalCase
           All CUAHSI elements and attributes are camelCase
       * All root response elements are now elements, and not types
          ** SitesResponse
          ** TimeSeriesResponse (not timeSeriesType)
          ** VariablesResponse
       * extension elements added.
           ** These are extension points for groups like
              the USGS that wish to include more information than the normal community uses.
       * enumerations added
          * unitType
          * censorCode  (characters used because symbols make for unmaintainable source code)
             * lt  - less than
             * gt  - greater than
             * nc  - no code
       * variable types consolidated
       * units element added
       * consistent siteID/variableID pattern (both include a XXXCode)
       * Remove many types
          ** too many to list.
       * values == TsValuesType renamed from TsValuesSingleVariableType
          ** split values element out to type  ValueSingleVar (c# change tsValuesTypeValueType to ValueSingleVar).
          ** qualifier elements can be added after the final value element in the Values element.
          *** we don't know the full list of included qualifiers until we get done with the values.
          *** at present, qualifiers attribute in the value element is an aggregated field.
          element block looks like:
          = values
          == value qualifers=&amp;quot;A&amp;quot;
          == value qualifers=&amp;quot;Ae&amp;quot;
          == qualifier qualifierCode=&amp;quot;A&amp;quot;      &amp;quot;Approved&amp;quot;
          == qualifier qualifierCode=&amp;quot;e&amp;quot;      &amp;quot;Estimated. This value has been estimated.&amp;quot;
2006-09-08
   variableID renamed variableCode
   siteID renamed siteCode
      siteID and variableID attributes added, xxCode removed
   siteCode name moved into siteInfo

2006-09-15
   variable/name to variable/variableName
   variablePeriod to variablePeriodOfObservation

2006-09-17
   added QualityControlLevelEnum
   added attribute qualityControlLevel to valueAttribute group. (affects ValueSingleVariable)
   added qualityControlLevel element, and element to the TSValuesSingleVariableType
   namespace changed to http://www.cuahsi.org/waterML/1.0/
   return to types for top level elements, without this they get named getValuesResponse
   added note to siteInfoElement. We need to put the URL or Retireved from DB not in this block.
   added TimePeriodRealTime. Need to represent real time data.
2006-0920
   variablePeriodofRecorr to seriesCatalog
   variablePeriodOfObservation to series
   variableObservationCount to valueCount (to match the OD)
   added enumerations from the OD
      valueTypeEnum
      generalCategoryEnum
      sampleMediumEnum
      dataTypeEnum
2006-09-24
   queryInfo/criteria/timeParam is now a sequence, since a start or end time can be null
   The community wants it to be easy, and VB and other .net have problems with some values:
      converted xsd:decimal to xsd:double. decimal is not well handled by VB
      converted tsValuesSingleVaribaleType/count from xsd:nonNegativeInteger to xsd:int.
2006-09-28
   API signature has been changed to strings.
   queryInfo/timeInterval/... changed to strings
2007-07-09
   ODM seriesCatalog table added columns. Columns now added
   DataValue element was missing: DataType(eg statistic), Method, Source, and QualityControlLevel.
2007-08-28
  added to values method[](methodType), source[](SourceType)
  added &amp;quot;Unknown&amp;quot; to many enumerations.
  contactInformation in sourceType changed to unbounded
2007-08-29
  DT/DM believes that including an offsetDescription on every element is verbose
  offsetTypeID attribute added to offsetAttr
  offsetType Type added, Designed to be a bit more extensible, and handle
2007-08-30
  restored attributes that had the offset information on the values
  offsetAttr restored attr
    offsetUnitsAbbreviation
    offsetUnitsCode
    offsetDescription
2007-11-14
   Many services use agency (aka EPA, and USGS)
     added attributes agencyCode and AgencyName to siteCode.
 2007-11-29
    SiteInfo/TimezoneInfo min occurs 0 max 1
    Series/QualityControlLevel min occurs 0 max 1
   
</s:documentation>
      </s:annotation>
      <s:annotation>
        <s:documentation> 
Changes: 
2006-07-10 valentine 
            removed choice. Replaced with Types
            defined TimePeriodType
                TimeIntervalType
                TimeSingleType
            added GeogLocationType to hold the geometry
                redefined LatLongPoint as a type
                defined LatLongBox to hold
                 defined simpleTypes Latitude and Longitude
            added DataSetLocation Element (type GeogLocationType) to dataset info
            removed xlink namespace. Just used the xlink concept (problems getting it to compile with xlink schema)
2006-08-30 valentine
    MANY CHANGES to:
         sync with the Observations Database terminolog
         simplify. Removed many unneeded types. (initial version was Type happy)
         types mostly used only when needed (Geometry, SourceInfo, TimeSeries, Notes, Enumerations).
       *** Element Case Standardize  ****
           All types are PascalCase
           All CUAHSI elements and attributes are camelCase
       * All root response elements are now elements, and not types
          ** SitesResponse
          ** TimeSeriesResponse (not timeSeriesType)
          ** VariablesResponse
       * extension elements added.
           ** These are extension points for groups like
              the USGS that wish to include more information than the normal community uses.
       * enumerations added
          * unitType
          * censorCode  (characters used because symbols make for unmaintainable source code)
             * lt  - less than
             * gt  - greater than
             * nc  - no code
       * variable types consolidated
       * units element added
       * consistent siteID/variableID pattern (both include a XXXCode)
       * Remove many types
          ** too many to list.
       * values == TsValuesType renamed from TsValuesSingleVariableType
          ** split values element out to type  ValueSingleVar (c# change tsValuesTypeValueType to ValueSingleVar).
          ** qualifier elements can be added after the final value element in the Values element.
          *** we don't know the full list of included qualifiers until we get done with the values.
          *** at present, qualifiers attribute in the value element is an aggregated field.
          element block looks like:
          = values
          == value qualifers=&amp;quot;A&amp;quot;
          == value qualifers=&amp;quot;Ae&amp;quot;
          == qualifier qualifierCode=&amp;quot;A&amp;quot;      &amp;quot;Approved&amp;quot;
          == qualifier qualifierCode=&amp;quot;e&amp;quot;      &amp;quot;Estimated. This value has been estimated.&amp;quot;
2006-09-08
   variableID renamed variableCode
   siteID renamed siteCode
      siteID and variableID attributes added, xxCode removed
   siteCode name moved into siteInfo

2006-09-15
   variable/name to variable/variableName
   variablePeriod to variablePeriodOfObservation

2006-09-17
   added QualityControlLevelEnum
   added attribute qualityControlLevel to valueAttribute group. (affects ValueSingleVariable)
   added qualityControlLevel element, and element to the TSValuesSingleVariableType
   namespace changed to http://www.cuahsi.org/waterML/1.0/
   return to types for top level elements, without this they get named getValuesResponse
   added note to siteInfoElement. We need to put the URL or Retireved from DB not in this block.
   added TimePeriodRealTime. Need to represent real time data.
2006-0920
   variablePeriodofRecorr to seriesCatalog
   variablePeriodOfObservation to series
   variableObservationCount to valueCount (to match the OD)
   added enumerations from the OD
      valueTypeEnum
      generalCategoryEnum
      sampleMediumEnum
      dataTypeEnum
2006-09-24
   queryInfo/criteria/timeParam is now a sequence, since a start or end time can be null
   The community wants it to be easy, and VB and other .net have problems with some values:
      converted xsd:decimal to xsd:double. decimal is not well handled by VB
      converted tsValuesSingleVaribaleType/count from xsd:nonNegativeInteger to xsd:int.
2006-09-28
   API signature has been changed to strings.
   queryInfo/timeInterval/... changed to strings
2007-07-09
   ODM seriesCatalog table added columns. Columns now added
   DataValue element was missing: DataType(eg statistic), Method, Source, and QualityControlLevel.
2007-08-28
  added to values method[](methodType), source[](SourceType)
  added &amp;quot;Unknown&amp;quot; to many enumerations.
  contactInformation in sourceType changed to unbounded
2007-08-29
  DT/DM believes that including an offsetDescription on every element is verbose
  offsetTypeID attribute added to offsetAttr
  offsetType Type added, Designed to be a bit more extensible, and handle
2007-08-30
  restored attributes that had the offset information on the values
  offsetAttr restored attr
    offsetUnitsAbbreviation
    offsetUnitsCode
    offsetDescription
2007-11-14
   Many services use agency (aka EPA, and USGS)
     added attributes agencyCode and AgencyName to siteCode.
 2007-11-29
    SiteInfo/TimezoneInfo min occurs 0 max 1
    Series/QualityControlLevel min occurs 0 max 1
   
</s:documentation>
      </s:annotation>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetValuesSoapIn">
    <wsdl:part name="parameters" element="tns:GetValues" />
  </wsdl:message>
  <wsdl:message name="GetValuesSoapOut">
    <wsdl:part name="parameters" element="tns:GetValuesResponse" />
  </wsdl:message>
  <wsdl:message name="GetValuesObjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetValuesObject" />
  </wsdl:message>
  <wsdl:message name="GetValuesObjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetValuesObjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetSitesXmlSoapIn">
    <wsdl:part name="parameters" element="tns:GetSitesXml" />
  </wsdl:message>
  <wsdl:message name="GetSitesXmlSoapOut">
    <wsdl:part name="parameters" element="tns:GetSitesXmlResponse" />
  </wsdl:message>
  <wsdl:message name="GetSiteInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetSiteInfo" />
  </wsdl:message>
  <wsdl:message name="GetSiteInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetSiteInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetVariableInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetVariableInfo" />
  </wsdl:message>
  <wsdl:message name="GetVariableInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetVariableInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetSitesSoapIn">
    <wsdl:part name="parameters" element="tns:GetSites" />
  </wsdl:message>
  <wsdl:message name="GetSitesSoapOut">
    <wsdl:part name="parameters" element="tns:GetSitesResponse" />
  </wsdl:message>
  <wsdl:message name="GetSiteInfoObjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetSiteInfoObject" />
  </wsdl:message>
  <wsdl:message name="GetSiteInfoObjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetSiteInfoObjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetVariableInfoObjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetVariableInfoObject" />
  </wsdl:message>
  <wsdl:message name="GetVariableInfoObjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetVariableInfoObjectResponse" />
  </wsdl:message>
  <wsdl:portType name="WaterOneFlowSoap">
    <wsdl:operation name="GetValues">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Given a site number, a variable, a start date, and an end date, this method returns a time series. Pass in the sitecode and variable in this format: 'NetworkName:SiteCode' and 'NetworkName:Variable'. Sending a null BeginDate and EndDate will return all values for the given parameters. This may not work with all services.</wsdl:documentation>
      <wsdl:input message="tns:GetValuesSoapIn" />
      <wsdl:output message="tns:GetValuesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetValuesObject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Given a site number, a variable, a start date, and an end date, this method returns a time series. Pass in the sitecode and variable in this format: 'NetworkName:SiteCode' and 'NetworkName:Variable'. Sending a null BeginDate and EndDate will return all values for the given parameters. This may not work with all services.</wsdl:documentation>
      <wsdl:input message="tns:GetValuesObjectSoapIn" />
      <wsdl:output message="tns:GetValuesObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSitesXml">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Given an array of site numbers, this method returns the site metadata for each one. Send the array of site codes in this format: 'NetworkName:SiteCode'. Sending an empty array will return all sites, up to a limit of 50,000.</wsdl:documentation>
      <wsdl:input message="tns:GetSitesXmlSoapIn" />
      <wsdl:output message="tns:GetSitesXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSiteInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Given a site number, this method returns the site's metadata. Send the site code in this format: 'NetworkName:SiteCode'</wsdl:documentation>
      <wsdl:input message="tns:GetSiteInfoSoapIn" />
      <wsdl:output message="tns:GetSiteInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVariableInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Given a variable code, this method returns the variable's name. Pass in the variable in this format: 'NetworkName:Variable'. Sending no variable, or an empty variable will return a list of all variables.</wsdl:documentation>
      <wsdl:input message="tns:GetVariableInfoSoapIn" />
      <wsdl:output message="tns:GetVariableInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSites">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Given an array of site numbers, this method returns the site metadata for each one. Send the array of site codes in this format: 'NetworkName:SiteCode'. Sending an empty array will return all sites, up to a limit of 50,000.</wsdl:documentation>
      <wsdl:input message="tns:GetSitesSoapIn" />
      <wsdl:output message="tns:GetSitesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSiteInfoObject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Given a site number, this method returns the site's metadata. Send the site code in this format: 'NetworkName:SiteCode'</wsdl:documentation>
      <wsdl:input message="tns:GetSiteInfoObjectSoapIn" />
      <wsdl:output message="tns:GetSiteInfoObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVariableInfoObject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Given a variable code, this method returns the variable's siteName. Pass in the variable in this format: 'NetworkName:Variable'. Sending no variable, or an empty variable will return a list of all variables.</wsdl:documentation>
      <wsdl:input message="tns:GetVariableInfoObjectSoapIn" />
      <wsdl:output message="tns:GetVariableInfoObjectSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WaterOneFlowSoap" type="tns:WaterOneFlowSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetValues">
      <soap:operation soapAction="http://www.cuahsi.org/his/1.0/ws/GetValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValuesObject">
      <soap:operation soapAction="http://www.cuahsi.org/his/1.0/ws/GetValuesObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSitesXml">
      <soap:operation soapAction="http://www.cuahsi.org/his/1.0/ws/GetSitesXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSiteInfo">
      <soap:operation soapAction="http://www.cuahsi.org/his/1.0/ws/GetSiteInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVariableInfo">
      <soap:operation soapAction="http://www.cuahsi.org/his/1.0/ws/GetVariableInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSites">
      <soap:operation soapAction="http://www.cuahsi.org/his/1.0/ws/GetSites" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSiteInfoObject">
      <soap:operation soapAction="http://www.cuahsi.org/his/1.0/ws/GetSiteInfoObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVariableInfoObject">
      <soap:operation soapAction="http://www.cuahsi.org/his/1.0/ws/GetVariableInfoObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WaterOneFlowSoap12" type="tns:WaterOneFlowSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetValues">
      <soap12:operation soapAction="http://www.cuahsi.org/his/1.0/ws/GetValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValuesObject">
      <soap12:operation soapAction="http://www.cuahsi.org/his/1.0/ws/GetValuesObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSitesXml">
      <soap12:operation soapAction="http://www.cuahsi.org/his/1.0/ws/GetSitesXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSiteInfo">
      <soap12:operation soapAction="http://www.cuahsi.org/his/1.0/ws/GetSiteInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVariableInfo">
      <soap12:operation soapAction="http://www.cuahsi.org/his/1.0/ws/GetVariableInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSites">
      <soap12:operation soapAction="http://www.cuahsi.org/his/1.0/ws/GetSites" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSiteInfoObject">
      <soap12:operation soapAction="http://www.cuahsi.org/his/1.0/ws/GetSiteInfoObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVariableInfoObject">
      <soap12:operation soapAction="http://www.cuahsi.org/his/1.0/ws/GetVariableInfoObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WaterOneFlow">
    <wsdl:port name="WaterOneFlowSoap" binding="tns:WaterOneFlowSoap">
      <soap:address location="http://river.sdsc.edu/wateroneflow/NWIS/DailyValues.asmx" />
    </wsdl:port>
    <wsdl:port name="WaterOneFlowSoap12" binding="tns:WaterOneFlowSoap12">
      <soap12:address location="http://river.sdsc.edu/wateroneflow/NWIS/DailyValues.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>