genericwebservices/trunk/WaterML2.0_schema_and_examples/Schemas/observableproperty/op/opcomplex.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:op="http://schemas.opengis.net/op" xmlns:swe="http://www.opengis.net/swe/2.0" targetNamespace="http://schemas.opengis.net/op" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.opengis.net/swe/2.0" schemaLocation="http://schemas.opengis.net/sweCommon/2.0/simple_components.xsd"/>
    <include schemaLocation="opsimple.xsd"/>
    <element name="StatisticalQualifier" substitutionGroup="op:AbstractQualifier" type="op:StatisticalQualifierType"/>
    <complexType name="StatisticalQualifierType">
        <complexContent>
            <extension base="op:AbstractQualifierType">
                <sequence>
                    <element name="statisticalOperator" type="gml:ReferenceType" minOccurs="0"/>
                    <element name="statisticalPeriod" type="duration" minOccurs="0">
                        <annotation>
                            <documentation>Used to indicate if statistics are hourly, monthly etc.</documentation>
                        </annotation>
                    </element>
                    <element  maxOccurs="1" minOccurs="0" name="precededBy" type="op:StatisticalQualifierPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="StatisticalQualifierPropertyType">
        <sequence minOccurs="0">
            <element ref="op:StatisticalQualifier"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="ComplexObservableProperty" substitutionGroup="op:SimpleObservableProperty" type="op:ComplexObservablePropertyType"/>
    <complexType name="ComplexObservablePropertyType">
        <complexContent>
            <extension base="op:SimpleObservablePropertyType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="constraint" type="swe:AbstractSimpleComponentPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="qualifier" type="op:AbstractQualifierPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ComplexObservablePropertyPropertyType">
        <sequence minOccurs="0">
            <element ref="op:ComplexObservableProperty"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element abstract="true" name="AbstractQualifier" substitutionGroup="gml:AbstractGML" type="op:AbstractQualifierType"/>
    <complexType abstract="true" name="AbstractQualifierType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AbstractQualifierPropertyType">
        <sequence minOccurs="0">
            <element ref="op:AbstractQualifier"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>