genericwebservices/trunk/WaterML2.0_schema_and_examples/Schemas/observableproperty/op/opsimple.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:op="http://schemas.opengis.net/op" targetNamespace="http://schemas.opengis.net/op" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <element abstract="true" name="AbstractObservableProperty" substitutionGroup="gml:AbstractGML" type="op:AbstractObservablePropertyType"/>
    <complexType abstract="true" name="AbstractObservablePropertyType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="label" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AbstractObservablePropertyPropertyType">
        <sequence minOccurs="0">
            <element ref="op:AbstractObservableProperty"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="CompositeObservableProperty" substitutionGroup="op:AbstractObservableProperty" type="op:CompositeObservablePropertyType"/>
    <complexType name="CompositeObservablePropertyType">
        <complexContent>
            <extension base="op:AbstractObservablePropertyType">
                <sequence>
                    <element name="count" type="integer">
                        <annotation>
                            <documentation>Number of components  in this composite</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="2" name="component" type="op:SimpleObservablePropertyPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CompositeObservablePropertyPropertyType">
        <sequence minOccurs="0">
            <element ref="op:CompositeObservableProperty"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="SimpleObservableProperty" substitutionGroup="op:AbstractObservableProperty" type="op:SimpleObservablePropertyType"/>
    <complexType name="SimpleObservablePropertyType">
        <complexContent>
            <extension base="op:AbstractObservablePropertyType">
                <sequence>
                    <element name="basePhenomenon" type="gml:ReferenceType" ></element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SimpleObservablePropertyPropertyType">
        <sequence minOccurs="0">
            <element ref="op:SimpleObservableProperty"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>