genericwebservices/trunk/WaterML2.0_schema_and_examples/Schemas/WaterML/timeseries.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:wml2="http://www.opengis.net/waterml/2.0" xmlns:om="http://www.opengis.net/om/2.0"
    targetNamespace="http://www.opengis.net/waterml/2.0" elementFormDefault="qualified"
    attributeFormDefault="unqualified" version="1.0">
    <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>Handcrafted schema based on the UML-generated schema</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2"
        schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.opengis.net/om/2.0"
        schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"/>
    <include schemaLocation="waterml2.xsd"/>
    <element name="Timeseries" substitutionGroup="gml:AbstractFeature"
        type="wml2:TimeseriesTimeValue">
        <annotation>
            <documentation>Describes a time series as a collection of time-value pairs. A time series is a also a realisation of a discrete time coverage as defined by ISO19123 - Coverages.</documentation>
        </annotation>
    </element>
    <complexType name="TimeseriesTimeValue">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <!-- Do we keep this? Duplicated in the observation header -->
                    <element name="temporalExtent" type="gml:TimePeriodPropertyType"/>

                    <!-- Metadata has to be inline -->
                    <element maxOccurs="1" minOccurs="0" name="metadata"
                        type="wml2:TSMetadataPropertyType"/>

                    <element maxOccurs="unbounded" minOccurs="0" name="extension"
                        type="om:NamedValuePropertyType"/>

                    <element maxOccurs="1" minOccurs="0" name="defaultPointMetadata"
                        type="wml2:DefaultTVPMetadataPropertyType"/>

                    <element maxOccurs="unbounded" minOccurs="1" name="point">
                        <complexType>
                            <sequence>
                                <element ref="wml2:AbstractTimeValuePair"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="TSMetadata" substitutionGroup="gml:AbstractObject" type="wml2:TSMetadataType"/>
    <complexType name="TSMetadataType">
        <sequence>
            <element maxOccurs="1" minOccurs="0" name="startAnchorPoint" type="gml:TimePositionType">
                <annotation>
                    <documentation>The anchor point for the beginning of the series.</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="endAnchorPoint" type="gml:TimePositionType">
                <annotation>
                    <documentation>The anchor point for the end of the series.</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="baseTime" type="gml:TimePositionType">
                <annotation>
                    <documentation>Defines the start time for isochronous (equidistant) time series. Each point occurs at regular steps (defined by the spacing property).</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="spacing" type="duration">
                <annotation>
                    <documentation>The spacing between points for isochronous or equidistant (equally space) points.</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="cumulative" type="boolean">
                <annotation>
                    <documentation>Sets the time series to be a cumulative series.</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="accumulationAnchorTime"
                type="gml:TimePositionType">
                <annotation>
                    <documentation>Defines the time at which accumulation begins.</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="accumulationIntervalLength" type="duration">
                <annotation>
                    <documentation>Defines the period over which accumulation occurs.</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="aggregationDuration" type="duration">
                <annotation>
                    <documentation>Specifies the duration over which aggregation of the series has occurred (e.g. daily averages, 1 hourly etc.).</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="commentBlock"
                type="wml2:CommentBlockPropertyType">
                <annotation>
                    <documentation>A comment that applies over a period of time for the time series.</documentation>
                </annotation>
            </element>

        </sequence>
    </complexType>

    <complexType name="TSMetadataPropertyType">
        <sequence>
            <element ref="wml2:TSMetadata"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>

    <complexType name="TimeseriesPropertyType">
        <sequence minOccurs="0">
            <element ref="wml2:Timeseries"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>

    <element name="CommentBlock" substitutionGroup="gml:AbstractObject" type="wml2:CommentBlockType"/>
    <complexType name="CommentBlockType">
        <sequence>
            <element name="applicablePeriod" type="gml:TimePeriodPropertyType">
                <annotation>
                    <documentation>The period over which the comment applies.</documentation>
                </annotation>
            </element>
            <element name="comment" type="string">
                <annotation>
                    <documentation>The comment that applies for the period.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="CommentBlockPropertyType">
        <sequence>
            <element ref="wml2:CommentBlock"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>

    <element name="TVPMetadata" substitutionGroup="gml:AbstractObject" type="wml2:TVPMetadataType"/>
    <complexType name="TVPMetadataType">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="quality" type="gml:ReferenceType">
                <annotation>
                    <documentation>Defines the quality of the point (or the default if it is the defaultTimeValuePair)</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="interpolationType" type="gml:ReferenceType">
                <annotation>
                    <documentation>The interpolation type of the time series point. This describes the nature of the value to the time with which it is associated. E.g. average in the preceeding interval.</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="comment" type="string">
                <annotation>
                    <documentation>Free text comment associated with the data point.</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="processing" type="gml:ReferenceType">
                <annotation>
                    <documentation>Defines what processing has occured on the data point.</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="qualifier" type="gml:ReferenceType">
                <annotation>
                    <documentation>A general qualifier for the point to define influencing conditions, or other qualifying information. A broader, more flexible categorisation than quality.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="TVPMetadataPropertyType">
        <sequence>
            <element ref="wml2:TVPMetadata"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>

    <element name="DefaultTVPMetadata" substitutionGroup="gml:AbstractObject"
        type="wml2:DefaultTVPMetadataType"/>
    <complexType name="DefaultTVPMetadataType">
        <complexContent>
            <extension base="wml2:TVPMetadataType">
                <sequence>
                    <element name="uom" maxOccurs="1" minOccurs="0" type="gml:UnitOfMeasureType">
                        <annotation>
                            <documentation>Defines the default unit of measure across the series</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="DefaultTVPMetadataPropertyType">
        <sequence minOccurs="0">
            <element ref="wml2:DefaultTVPMetadata"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>

    <element name="AbstractTimeValuePair" type="wml2:AbstractTimeValuePairType"/>
    <complexType name="AbstractTimeValuePairType" abstract="true">
        <!-- The abstract base class to allow type substitution. Can't define the elements as use of xsd:restriction causes problems -->
        <!--sequence>
            <element maxOccurs="1" minOccurs="0" name="time" type="gml:TimePositionType">
                <annotation>
                    <documentation>The time instant for the data point.</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="value" nillable="true" type="anyType">
                <annotation>
                    <documentation>The base type allows a timeseries of any record type - it is abstract</documentation>
                </annotation>
            </element>
            
            
            <element maxOccurs="1" minOccurs="0" name="metadata" type="wml2:TVPMetadataPropertyType"/>
        </sequence--> </complexType>

    <!-- Own definition of measure type. gml:MeasureType has a mandatory attribute uom which means defaulting for uom may not be used. 
        This type also adds the censorReason for censored values -->
    <element name="value" type="wml2:MeasureType"/>
    <complexType name="MeasureType">
        <annotation>
            <documentation>gml:MeasureType supports recording an amount encoded as a value of XML Schema double, together with a units of measure indicated by an attribute uom, short for "units Of measure". The value of the uom attribute identifies a reference system for the amount, usually a ratio or interval scale.</documentation>
        </annotation>
        <simpleContent>
            <extension base="double">
                <attribute name="uom" type="gml:UomIdentifier"/>
                <attribute name="nilReason" type="gml:NilReasonType"/>
                <attribute name="censorReason" type="gml:NilReasonType"/>
            </extension>
        </simpleContent>
    </complexType>


    <element name="TimeValuePairMeasure" type="wml2:TimeValuePairMeasureType"
        substitutionGroup="wml2:AbstractTimeValuePair"/>
    <complexType name="TimeValuePairMeasureType">
        <complexContent>
            <extension base="wml2:AbstractTimeValuePairType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="time" type="gml:TimePositionType">
                        <annotation>
                            <documentation>The time instant for the data point.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="value" nillable="true"
                        type="wml2:MeasureType">
                        <annotation>
                            <documentation>The base type allows a timeseries of any record type - it is abstract</documentation>
                        </annotation>
                    </element>

                    <element maxOccurs="1" minOccurs="0" name="metadata"
                        type="wml2:TVPMetadataPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="TimeValuePairPropertyType">
        <sequence>
            <element ref="wml2:TimeValuePairMeasure"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>
