genericwebservices/trunk/WaterML2.0_schema_and_examples/Schemas/WaterML/timeseriesObservationMetadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wml2="http://www.opengis.net/waterml/2.0" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:om="http://www.opengis.net/om/2.0" xmlns:sams="http://www.opengis.net/samplingSpatial/2.0" xmlns:sam="http://www.opengis.net/sampling/2.0" targetNamespace="http://www.opengis.net/waterml/2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>Specialized observation metadata classes for WaterML 2.0</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.opengis.net/sampling/2.0" schemaLocation="http://schemas.opengis.net/sampling/2.0/samplingFeature.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
    <import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"/>
    <import namespace="http://www.opengis.net/samplingSpatial/2.0" schemaLocation="http://schemas.opengis.net/samplingSpatial/2.0/spatialSamplingFeature.xsd"/>
    <import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"/>
    <include schemaLocation="waterml2.xsd"/>
    <include schemaLocation="timeseries.xsd"/>
   <!-- A WaterMonitoringObservation is defined as a specialisation of the O&amp;amp;M OM_TimeSeriesObservation class as shown in Figure 4. This specialisation allows for more specific use of O&amp;amp;M to be defined according to the commonalities of in-situ hydrological observations. 

The following requirements are defined for this specialisation of OM_Observation:

Req 1 A WaterMonitoringObservation shall have a result of type Timeseries, as defined in section 10 of this standard.

Req 2 A WaterMonitoringObservation shall have a featureOfInterest of type SF_SpatialSamplingFeature, as defined by ISO19156, which includes WaterSamplingPoint defined in section 8.3 of this standard.

Req 3 A WaterMonitoringObservation shall have a procedure property of type WaterObservationProcess, as defined in section 8.11 of this standard.

Req 4 A WaterMonitoringObservation shall have a metadata property of type ObservationMetadata, as defined in section 8.2.8 of this standard.

Req 5 A WaterMonitoringObservation shall have an observedProperty of type GFI_PropertyType, as described in ISO19156.</documentation>
        </annotation>
    -->
    
    <element name="ObservationMetadata" substitutionGroup="gmd:MD_Metadata" type="wml2:ObservationMetadataType">
        <annotation>
            <documentation>Metadata relating to water observation.</documentation>
        </annotation>
    </element>
    <complexType name="ObservationMetadataType">
        <complexContent>
            <extension base="gmd:MD_Metadata_Type">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="intendedSamplingInterval" type="duration">
                        <annotation>
                            <documentation>Defines the expected interval in which observations can be expected. e.g. daily.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="status" type="gml:ReferenceType">
                        <annotation>
                            <documentation>Indicates the statues of the observation. E.g. unreleased, verified etc.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="sampledMedium" type="gml:ReferenceType">
                        <annotation>
                            <documentation>Indicates the medium that was sampled. E.g. water, air, etc.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="maximumGap" type="duration"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="parameter" type="om:NamedValuePropertyType">
                        <annotation>
                            <documentation>A soft-typed parameter to allow extension through name-value pairs.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ObservationMetadataPropertyType">
        <sequence minOccurs="0">
            <element ref="wml2:ObservationMetadata"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>